header{
    margin-top: 100px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}
body{
background-image: radial-gradient(white, gray, black);
    background-size: cover;
    
    
}
button{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-image: radial-gradient(white, black);
    margin-left: 580px;
    
}

button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
footer{
    font-family: cursive;
    text-align: center;
    margin-top: 50px;
    height: 100px;
}