[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
pip = "==21.1"
pre-commit = "*"
black = "*"
peewee = "*"

[dev-packages]
requests = "*"
pytest = "*"
webtest = "*"

[requires]
python_version = "3.6"
