[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
pip = "==18.0"

[dev - packages]
requests = "*"
pytest = "*"
boddle = "*"

[requires]
python_version = "3.6"
