% include('base.html', title="PyJudge")
<body>
	<div class="container">
		<header class="text-center">
			<h1>{{contest.code}}</h1>
        </header>
        <div class="container">
            <p>
                {{contest.description}}
            </p>
        </div>
        <div class="container">
            <a href="/ranking/{{contest.code}}" class="btn btn-primary">Rankings</a>
        </div>
        <div class="container">
                % for qno in range(len(questions)):
                    <a href="/contest/{{contest.code}}/{{questions[qno].question}}">{{qno+1}}</a><br />
                % end
        </div>
	</div>
</body>
</html>
