% include('base.html', title="PyJudge")
<body>
  <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = '/static/css/notfound.css';
        document.getElementsByTagName('HEAD')[0].appendChild(link);
  </script>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Oops!</h1>
			</div>
			<h2>404 - Page not found</h2>
			<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
      <p>{{error}}</p>
			<a href="/">Go To Homepage</a>
		</div>
	</div>
</body>

</html>
