% include('base.html', title="PyJudge")
<body>
    <div class="container text-center">
        <h1>
            PyJudge
        </h1>
    </div>
    % if message: 
    <div class="alert alert-success alert-dismissible" style='width:auto;'>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error!</strong> {{message}}
    </div>
    % end
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#register">Register</a>
            </li>
        </ul>
        <div class="tab-content col-lg-4 col-md-6">
            <div id="login" class="tab-pane active">
                <form name="login" method="post" action="/login">
                    <label>Username:</label>
                    <input type="text" name="username" class="form-control"  required />
                
                    <label>Password</label>
                    <input type="password" name="password" class="form-control"  required />
                    <br>
                    <input class="btn btn-primary" type="submit" value="Login" />
                
                </form>
            </div>
            <div id="register" class="tab-pane fade">
                <form name="register" method="post" action="/register">
                    <label>Username:</label>
                    <input type="text" name="username" class="form-control" required />
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control" required />
                    <br>
                    <input class="btn btn-primary" type="submit" value="Register" />
                </form>
            </div>
        </div> 
    </div>
    
</body>