% include('base.html', title="PyJudge")
<body>
	<div class="container">
		<header class="text-center">
			<h1>Submission Page</h1>
		</header>
		<div class="container">
			<p>{{question["question_statement"]}}</p>
			<p><b>Status :</b> {{question_status}}<p>
			<a href="/question/{{question_number}}" role="button" class="btn btn-primary">
				Download Test Case
			</a>
		</div>
		<div class="container">
			<p>
				All submissions will be tested on the already mentioned criterias. 
				To read the criterias, click <a href="#">here</a>.
				You have to submit your code in a file.
				You can submit the code in any language.
				You can upload the file below.
			</p>
			<form action="/check/{{contest}}/{{question_number}}" method = "post" enctype = "multipart/form-data">
				Output file: <br />
				<input type="file" name="upload" required />
				<button class="btn btn-primary" type="submit">Upload</button>
			</form>
		
		</div>
	</div>
	<footer class="page-footer text-center">
		&copy Copyright 2019 | All Rights Reserved by <i>PyJaipur</i>
	</footer>
	
</body>
</html>
