<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Rankings</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container text-center">
			<div>
				<h1>Rankings</h1>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Rank</th>
						<th>Username</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					% for name,score,rank in people :
					<tr>
						<td>{{rank}}</td>
						<td>{{name}}</td>
						<td>{{score}}</td>
					</tr>
					% end
				</tbody>
			</table>
		</div>
	</body>
</html>
