{% extends 'templates/base.html' %}
	
	{% block content %}
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/index.css" class="css">
	<title>PyJudge</title>
	{% endblock %}
	
	{% block content %}
		<h1>Submission Page</h1>
	{% endblock %}

	{% block content %}
			<div class="column">
				<div class="shift-center">
					<p style="text-align: center;">{{question}}</p>
                    <button><a href="/question/{{question_number}}/inputs.txt">Download Test Case</a></button>
				</div> 
			</div>
	{% endblock %}

	{% block content %}
					<!--Submission-->
					<form action="/check/{{question_number}}", method = "post", enctype = "multipart/form-data">   
					   <!-- URL can be added where file is to be stored -->
					   <p style="text-align: center; margin-left: 200px; margin-right: 200px; font-family: cursive;">All submissions will be tested on the already mentioned criterias. 
					   To read the criterias, click <a href="#">here</a>.
					   You have to submit your code in a file.
					   You can submit the code in any language.
					   You can upload the file below.</p>
                       <input type="text" style="width:200px; height:30px; margin-top: 20px; margin-left:580px; text-align: center;" name="email" placeholder="Enter Username" required /><br><br><br>
					   <input type="file" name="upload" style="margin-left: 600px"><br>
					   <input type="submit" value = "Start upload" style="margin-left: 600px; margin-top: 20px;   border-radius: 20px; background-image: radial-gradient(white, black); height: 30px; width: 150px;">
					</form>
	{% endblock %}